<%= form_for @sport do |f| %>

  <% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sport.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
      <% @sport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Name: <%= f.text_field :name %><br>


<%= f.submit %>

<% end %>
