<%= form_for @player do |f| %>

  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2 style="color:red">
        <%= pluralize(@player.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Name: <%= f.text_field :name %><br>
Password: <%= f.password_field :password %><br>
Password Confirmation: <%= f.password_field :password_confirmation %><br>
Age: <%= f.number_field :age %><br>
Address (Street, City, State): <%= f.text_field :address %><br><br>

<h2> Enter the Position and select the associated Sport</h2>
<%= f.fields_for :positions do |ps| %>

  <%= ps.label "Position:" %>
  <%= ps.text_field :name %><br>
  Select Sport: <%= ps.collection_select :sport_id, Sport.all, :id, :name, :include_blank => true %><br>

  Or add a new sport:<br>
  <%= ps.fields_for :sport do |sp| %>


    <%= sp.text_field :name %><br><br>
  <% end %>
<% end %>


<%= f.submit %>

<% end %>
