<%= form_for @player do |f| %>

  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Name: <%= f.text_field :name %><br>
Password: <%= f.password_field :password %><br>
Age: <%= f.number_field :age %><br>
Address (Street, City, State): <%= f.text_field :address %><br>

<h3>Select a Sport</h3>
<!-- how do I get it to select the sport, then the position -->

<%= f.collection_check_boxes :sport_ids, Sport.all, :id, :name %><br><br>
Or add a different sport: <br>
<%= f.fields_for :sports, player.sports.build do |sport_fields| %>
<%= sport_fields.text_field :name %><br><br>
<% end %>

<h3>Select a Position</h3>
<%= f.collection_check_boxes :position_ids, Position.all, :id, :name %><br><br>
Or add a different player position: <br>
<%= f.fields_for :positions, player.positions.build do |position_fields| %>
<%= position_fields.text_field :name %><br><br>
<% end %>
<%= f.submit %>

<% end %>
