<h1>Players</h1>

<% @players.each do |player| %>

  <br><li><%= link_to player.name, player_path(player), :class => "load_sports" %></li><br>
  <div class="sport_list-<%=player.id%>"></div>
<% end %>
<h1>Under 18</h1>
<% @under_18.each do |player| %>
  <br><li><%= link_to player.name, player_path(player)%></li><br>
<% end %>

<h1>Over 18</h1>
<% @over_18.each do |player| %>
  <br><li><%= link_to player.name, player_path(player)%></li><br>
<% end %><br><br>

<%=link_to "Go To Sports", sports_path %><br><br>
