<h1>Players</h1>

<!-- ?<button type="button" id = "btnLoadPlayers">Load Players</button> -->
<!-- <input id = "btnSubmit" type="submit" value="Release"/> -->
<h2>JS PlayerList</h2>
<div class="player_list">

</div>

<h2>Rails Player List</h2>
<% @players.each do |player| %>
  <br><li><%= link_to player.name, player_path(player)%>&nbsp &nbsp<%=link_to "Details", player_path(player), :class => "player_details" %></li> <br>
  <div class="player_info-<%=player.id%>"></div>
<% end %>

<h1>Under 18</h1>
<% @under_18.each do |player| %>
  <br><li><%= link_to player.name, player_path(player)%></li><br>
<% end %>

<h1>Over 18</h1>
<% @over_18.each do |player| %>
  <br><li><%=link_to player.name, player_path(player)%></li><br>
<% end %><br><br>

<%=link_to "Go To Sports", sports_path %><br><br>
