<h1><%=@player.name%></h1>

Age: <%= @player.age %><br>
Address: <%= @player.address %>

<h2>Sports</h2>

<ul>

<% @player.sports.uniq.each do |sport| %>
  <h3>  <%= link_to sport.name, sport_path(sport) %> </h3>
   <% sport.positions.each do |position| %>
      <% if position.player_id == @player.id %>
        <li><%= link_to position.name, player_positions_path(@player)%></li>
      <% end %>

   <% end %>
<% end %><br><br>
</ul>
<button class="js-next" data-id="<%= @player.id %>">More Info</button><br><br>
<%= link_to "Edit Player", edit_player_url%> &nbsp &nbsp<%= link_to "Delete Player", @player, :method => :delete, data: { confirm: "Are you sure you want to delete this player: #{@player.name}?" } %> &nbsp &nbsp<%=link_to "Go To Players", players_path %> &nbsp &nbsp <%=link_to "Go To Sports", sports_path %><br><br>
