<!DOCTYPE html>
<html>
  <head>
    <title>Scottsdale Sports Teams</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <div style="color:red">
        <%= flash[:alert] %><br>
      </div>
      <% end %><br>
      <div id="app-container">
          <%= yield %>
      </div>

    <% if session[:user_id]%>
    <%= form_tag ({controller: 'session', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='logout'>
      <% end %>
    <% end %>
  </body>
</html>
